/* 引入字体 */

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Light';
    src: url('https://file2.huazi.space/HarmonyOS_Sans_SC_Light.ttf');
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Regular';
    src: url('https://file2.huazi.space/HarmonyOS_Sans_SC_Regular.ttf');
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Medium';
    src: url('https://file2.huazi.space/HarmonyOS_Sans_SC_Medium.ttf');
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Bold';
    src: url('https://file2.huazi.space/HarmonyOS_Sans_SC_Bold.ttf');
}

.text-light {
    font-family: HarmonyOS_Sans_SC_Light;
}

.text-regular {
    font-family: HarmonyOS_Sans_SC_Regular;
}

.text-medium {
    font-family: HarmonyOS_Sans_SC_Medium;
}

.text-bold {
    font-family: HarmonyOS_Sans_SC_Bold;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    margin: 50px 0;
    height: 50px;
}


/* 卡片大小样式 */

.card {
    background: #FFFFFF;
    border-radius: 40px;
}

.regular {
    width: 285px;
    height: 285px;
}

.wide {
    width: 590px;
    height: 285px;
}

.long {
    width: 285px;
    height: 590px;
}


/* 卡片位置 */

.box1 {
    position: absolute;
}

.box2 {
    position: absolute;
    margin-left: 610px;
}

.box3 {
    position: absolute;
    margin-left: 915px;
    background-color: #FBDDA4;
}

.box4 {
    position: absolute;
    margin-top: 305px;
    background-color: #60ADFF;
}

.box5 {
    position: absolute;
    margin-top: 305px;
    margin-left: 305px;
    background-color: #FFEA7C;
}

.box6 {
    position: absolute;
    margin-top: 305px;
    margin-left: 610px;
    background-color: #A4CEFB;
}

.box7 {
    position: absolute;
    margin-top: 610px;
    background-color: #FBDDA4;
}

.box8 {
    position: absolute;
    margin-top: 610px;
    margin-left: 915px;
    background-color: #A4CEFB;
}

.box9 {
    position: absolute;
    margin-top: 915px;
    width: 590px;
    height: 285px;
}

.box10 {
    position: absolute;
    margin-top: 915px;
    margin-left: 610px;
    width: 590px;
    height: 285px;
}

.foot {
    position: absolute;
    margin-top: 1230px;
    height: 100px;
}


/* color */

.bg {
    background-color: #F2F5F6;
}

.yellow {
    background-color: #FBDDA4;
}

.blue {
    background-color: #A4CEFB;
}


/* 图片样式 */

.img {
    width: 170px;
    height: 170px;
    margin-top: 10px;
    margin-left: 30px;
}

.img-zhoukan {
    margin-top: 42px;
    margin-left: 42px;
}

.img-zcool {
    margin-top: 68px;
    margin-left: 65px;
}

.img-wuzi {
    margin-top: 71px;
    margin-left: 41px;
}

.img-yaetong-web {
    margin-top: 50px;
    margin-left: 91px;
}

.text {
    font-size: 16px;
    margin: 0 30px;
}


/* button */

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.btn-rel {
    position: absolute;
    margin-top: 225px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    display: flex;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    background-color: rgb(255, 255, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
}

.btn-long {
    position: absolute;
    margin-top: 530px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    display: flex;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    background-color: rgb(255, 255, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
}

.btn:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: initial;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
}

.btn-arrow {
    margin: 8px;
}

.link {
    position: absolute;
    margin-top: 225px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    display: flex;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    background-color: rgb(255, 255, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
}

.link:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: initial;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* 联系我 */

.content {
    margin: 1em auto;
}

.content-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 30px;
}

.content-text {
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
}

.content-img {
    margin-top: 50px;
    margin-left: 30px;
}

.content-img-icon {
    margin: 12px;
}


/* foot */

.foot-in {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    width: 1200px;
    height: 60px;
    border-radius: 40px;
    background-color: white;
}

.foot-in-text {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.foot-in-right {
    float: right;
    margin-left: 30px;
    line-height: 60px;
}

.foot-in-img {
    vertical-align: middle;
}

.foot-in-a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}


/* box响应式 */

@media (max-width: 1195px) {
    .container {
        width: 895px;
        margin: 0 auto;
    }
    .box1 {
        position: absolute;
    }
    .box2 {
        position: absolute;
        margin-left: 610px;
    }
    .box3 {
        position: absolute;
        margin-top: 305px;
        margin-left: 610px;
    }
    .box4 {
        position: absolute;
        margin-top: 305px;
    }
    .box5 {
        position: absolute;
        margin-top: 305px;
        margin-left: 305px;
    }
    .box6 {
        position: absolute;
        margin-top: 610px;
        margin-left: 0;
    }
    .box7 {
        position: absolute;
        margin-top: 915px;
        margin-left: 305px;
    }
    .box8 {
        position: absolute;
        margin-top: 610px;
        margin-left: 305px;
    }
    .box9 {
        position: absolute;
        margin-top: 1220px;
        width: 895px;
        height: 285px;
    }
    .box10 {
        position: absolute;
        margin-top: 1525px;
        margin-left: 0;
        width: 895px;
        height: 285px;
    }
    .foot {
        position: absolute;
        margin-top: 1830px;
        height: 100px;
    }
    .foot-in {
        width: 895px;
    }
}

@media (max-width: 890px) {
    .container {
        width: 590px;
        margin: 0 auto;
    }
    .box1 {
        position: absolute;
    }
    .box2 {
        position: absolute;
        margin-top: 305px;
        margin-left: 0;
    }
    .box3 {
        position: absolute;
        margin-top: 610px;
        margin-left: 305px;
    }
    .box4 {
        position: absolute;
        margin-top: 610px;
        margin-left: 0;
    }
    .box5 {
        position: absolute;
        margin-top: 305px;
        margin-left: 305px;
    }
    .box6 {
        position: absolute;
        margin-top: 910px;
        margin-left: 0;
    }
    .box7 {
        position: absolute;
        margin-top: 1525px;
        margin-left: 0;
    }
    .box8 {
        position: absolute;
        margin-top: 1220px;
        margin-left: 305px;
    }
    .box9 {
        position: absolute;
        margin-top: 1830px;
        width: 590px;
        height: 285px;
    }
    .box10 {
        position: absolute;
        margin-top: 2135px;
        margin-left: 0;
        width: 590px;
        height: 285px;
    }
    .foot {
        position: absolute;
        margin-top: 2450px;
        height: 100px;
    }
    .foot-in {
        width: 588px;
    }
}